#total {
	position:relative;
	width:1220px;
	margin:0px auto 0px auto;
	border-top:2px solid #4A74BC;
	/*border-left:1px solid #4A74BC;
	border-right:1px solid #4A74BC;*/
	border-bottom:2px solid #4A74BC;
	overflow:hidden;
	padding-bottom:20px;
    background-color: #f9f9f9;
}
#head {
	background-color:#3a5795;
	color:#f9f9f9;
	height:70px;
	border-bottom:1px solid #4A74BC;
}
#logo {
	margin:0px;
	padding:5px;
	font-family: 'Nanum Gothic', sans-serif !important;
	font-style: normal !important;
	font-size:21px;
	float:left;
}
#tTitle {
	margin:0px;
	padding:5px;
	font-family: 'Nanum Gothic', sans-serif !important;
	font-style: normal !important;
	font-size:22px;
	font-weight:900;
	float:right;
	background-color: #3a5795;
}
#mainMenu {
	width:1200px;
	margin:0px;
	padding:10px 0px 0px 0px;
	list-style:none;
	float:left;
}
#mainMenu li {
	float:left;
	font-size:14px;
	font-weight:700;
	color:#f9f9f9;
	padding:3px 10px 3px 10px;
	margin:0px;
}

#mainMenu a:link {
	text-decoration:none;
	color:#f9f9f9;
	font-size:13px;
	font-weight:700;
}
#mainMenu a:visited {
	text-decoration:none;
	color:#f9f9f9;
	font-size:13px;
	font-weight:700;
}
#mainMenu a:hover {
	text-decoration:none;
	color:#0099ff;
	font-size:13px;
	font-weight:700;
}
#mainMenu a:active {
	text-decoration:none;
	color:#f9f9f9;
	font-size:13px;
	font-weight:700;
}
#left {
	width:174px;
	float:left;
}
#leftTitle {
	background-color:#c9defa;
	margin:0px;
	padding:5px;
	font-size:12px;
	border-bottom:1px solid #7A9B19;
	color:#2b2b2b;
	font-family: 'Nanum Gothic', sans-serif !important;
	font-style: normal !important;
	font-weight:400;
}
#leftMenu {
	width:100%;
	list-style:none;
	float:left;
	margin:0px;
	padding:0px;
	font-size:12px;
}
#leftMenu li a{
	width:100%;
	float: left;
	margin:0px;
	padding:5px 0px 5px 5px;
}
#leftMenu li a:hover{
	background-color:#42599e;
	color: #f9f9f9 !important;
}
#main {
	float:left;
	width:1046px;
	padding-bottom:15px;
	overflow:auto;
	position:relative;
	overflow-x:hidden;
	background-color: #f9f9f9;
}
#mainTitle {
	width:100%;
	background-color:#C9DEFA;
	margin:0px;
	padding:5px 3px 4px 3px;
	font-size:13px;
	border-bottom:1px solid #98C0F4;
	color:#2b2b2b;
	font-weight:700;
}
#mainSubTitle {
	padding:5px;
	color:#2b2b2b;
	text-align:center;
}
.contentTable {
	border:4px solid #B2D0F7;
	background-color:#f9f9f9;
	background-repeat:repeat-x;
	background-position:0px -400px;
	margin-top:20px;
	font-family: 'Nanum Gothic', sans-serif !important;
	font-style: normal !important;
}
.boardCap {
margin:0px;
padding:0px 0px 5px 0px;
text-align:left;
font-weight:900;
color:#000099;
font-size:16px;
}
.contentTable td {
color:#585858;
}
