#main {
	width:800px;
	float:left;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	margin-left:110px;
	margin-top:20px;
	padding-left:20px;
}
.textarea_11 {
	padding: 20px;
	border:1px solid #ccc;
}
.text {
	margin-top:15px;
	margin-left:20px;
}
.text li {
	line-height:18px;
	text-indent: 5px;
}
p {
	margin-left:23px;
	margin-top: 5px;
	color:black;
}
.join_btn {
	padding-left:300px;
	margin-top:15px;
}
.join_btn li{
	float:left;
	padding:0px 2px 0px 2px;
}
